    @using System.Collections;
    @using System.IO;
    @using System.Collections.Generic;
    @using System.Data.SqlClient;
    @using DotNetNuke.Entities.Tabs;
    @using System.Data;
    @using System.Linq;
    @using DotNetNuke.Common;
    @using DotNetNuke.Entities.Users;
    @using DotNetNuke.Web.Api;
    @using DotNetNuke;
    @using DotNetNuke.Services.Localization;
    @using DotNetNuke.Entities.Modules;
    @using DotNetNuke.Security.Permissions;
    @using Yemon.dnn.BlocksContent;
@using AIS;
    @{
        var newsID = ""+Request["newsid"];
        if (newsID == "")
        {
            string seo = Request.QueryString["sn"];
            if (seo != null && seo != "")
            {
                Club club = DataMapping.GetClubBySeo(seo);
                if (club == null)
                {
                    return;
                }
                List<News> newslist = DataMapping.ListNews(club.cric,tags_included:"Actions", onlyvisible: true, category: "Clubs", sort: "dt desc");
                if (newslist.Count > 0)
                {
                    newsID = newslist[0].id;
                }
            }

        }

        News news = null;
        try
        {
            news = DataMapping.GetNews(newsID);
        }
        catch
        {

        }
        if (news==null)
        {
            return;
        }

        List<Block> blocks = new List<Block>();
        try
        {
            string sblocks = "" + Yemon.dnn.Helpers.GetItem("blockscontent:" + newsID);
            if (sblocks != "")
            {
                blocks = (List<Block>)Yemon.dnn.Functions.Deserialize(sblocks, typeof(List<Block>));
            }

        }
        catch
        {

        }

        <h1>@news.title</h1>
        <div class="text-right">
            <span class="Date Normal">@news.dt.ToShortDateString()</span>
        </div>
        if(blocks.Count==0)
        {
            if (news.photo != "")
            {
                <div class="row">
                    <div class="col-sm-12">
                        <img src='/DesktopModules/BlocksContent/API/Blocks/getMedia?guid=@news.photo' title='@news.title' />
                    </div>
                </div>
            } 
            else
            {
                <div>Il n'y a pas de détail...</div>
            }
        }
        else
        {
            foreach (Block block in blocks)
            {
                switch (block.Type)
                {
                    case "ImageText":
                        Block.ImageText p = (Block.ImageText)Yemon.dnn.Functions.Deserialize("" + block.Content, typeof(Block.ImageText));
                        switch (p.Position)
                        {
                            case "G":
                                <div class="row">
                                    @if (p.Title != null)
                                    {
                                        <h2 class="col-sm-12">@p.Title</h2>
                                    }
                                    @if (p.Image != null)
                                    {
                                        <div class="col-sm-6">
                                            <img src="/DesktopModules/BlocksContent/API/Blocks/getMedia?guid=@p.Image.GUID" title="@p.Image.Name" />
                                        </div>
                                    }
                                    @if (p.Html != null)
                                    {
                                        <div class="col-sm-6">@Html.Raw(p.Html)</div>
                                    }
                                </div>
                                break;
                            case "D":
                                <div class="row">
                                    @if (p.Title != null)
                                    {
                                        <h2 class="col-sm-12">@p.Title</h2>
                                    }
                                    @if (p.Html != null)
                                    {
                                        <div class="col-sm-6">@Html.Raw(p.Html)</div>
                                    }
                                    @if (p.Image != null)
                                    {
                                        <div class="col-sm-6">
                                            <img src="/DesktopModules/BlocksContent/API/Blocks/getMedia?guid=@p.Image.GUID" title="@p.Image.Name" />
                                        </div>
                                    }

                                </div>
                                break;
                            default:
                                if (p.Title != null)
                                {
                                    <h2>@p.Title</h2>
                                }
                                if (p.Image != null)
                                {
                                    <div>
                                        <img src="/DesktopModules/BlocksContent/API/Blocks/getMedia?guid=@p.Image.GUID" title="@p.Image.Name" />
                                    </div>
                                }
                                if (p.Html != null)
                                {
                                    <div>@Html.Raw(p.Html)</div>
                                }
                                break;
                        }
                        break;
                    case "FileCollection":
                        Block.FileCollection fc = (Block.FileCollection)Yemon.dnn.Functions.Deserialize("" + block.Content, typeof(Block.FileCollection));
                        if (fc.Title != null)
                        {
                            <h2>@fc.Title</h2>
                        }
                        if (fc.Files.Count > 0)
                        {
                            <ul>
                                @foreach (var f in fc.Files)
                                {
                                    <li><a href="/DesktopModules/BlocksContent/API/Blocks/getMedia?guid=@f.GUID" class="btn btn-link">@f.Name</a></li>
                                }
                            </ul>
                        }
                        break;
                    case "ImageCollection":
                        Block.ImageCollection ic = (Block.ImageCollection)Yemon.dnn.Functions.Deserialize("" + block.Content, typeof(Block.ImageCollection));
                        if (ic.Title != null)
                        {
                            <h2>@ic.Title</h2>
                        }
                        if (ic.Images.Count > 0)
                        {
                            foreach (var i in ic.Images)
                            {
                                <span>
                                    <img src="/DesktopModules/BlocksContent/API/Blocks/getMedia?guid=@i.GUID" width="100%" title="@i.Name" />
                                </span>
                            }

                        }
                        break;
                    case "Raw":
                        Block.Raw r = (Block.Raw)Yemon.dnn.Functions.Deserialize("" + block.Content, typeof(Block.Raw));
                        <div v-html="r.Html"></div>
                        break;
                    case "Video":
                        Block.Video v = (Block.Video)Yemon.dnn.Functions.Deserialize("" + block.Content, typeof(Block.Video));
                        if (v.Title != null)
                        {
                            <h2>@v.Title</h2>
                        }
                        <div id="@("container" + block.Guid)">
                            <iframe width="100%" id="@("video" + block.Guid)" class="video" src="@v.Url" allowfullscreen=""></iframe>
                        </div>
                        <script>
                        if (!resize) {
                            var resize = [];
                        }
                        resize['@block.Guid'] = function() {


                            var ratio = 16 / 9;
                            const videoIFrame = document.getElementById('video@(block.Guid)');
                            const videoContainer = document.getElementById('container@(block.Guid)');
                            var width = Math.min(window.innerWidth, videoIFrame.offsetWidth);
                            videoIFrame.style.height = Math.ceil(width / ratio) + "px";
                            videoContainer.style.height = (width / ratio) + "px";
                        }
                        $(window).resize(resize['@block.Guid']);
                        $(document).ready(function () {
                            resize['@block.Guid']();
                        });

                        </script>
                        break;
                        @*case "title":
                            Bloc.Title t = (Bloc.Title)bloc.content;
                            <h2>@t.title</h2>


                            break;*@
                }
            }
        }
}

