@using System.Xml;
@using System.Xml.Serialization;
@{ 
    AIS.RotaryInternational.Rss feed = AIS.RotaryHelper.GetRotaryRSSNews(5);
    if(feed==null)
    {
        return;
    }
    
}
    <div class="rirss">
        @foreach(var f in feed.Channel.Items)
        {
        <a href="@f.Link">
            <h2>@Html.Raw(f.Title)</h2>
            <div>
            <img src="@f.Photo" alt="@f.Title" />
            @Html.Raw(f.Description.Replace("</p>","<br/><span class=\"btn btn-link\">Voir plus...</span></p>"))
            </div>
        </a>
        }
    </div>

<style>
    .rirss a {
        margin-bottom: 2em;
        display: block;
    }
    .rirss img {
       width:100%;   
    }
    .rirss a div {
        display: grid;
        grid-template-columns: 30% auto;
        grid-column-gap: 1em;
    }
    .rirss a div span {
        float: right;
    }
</style>
