@using AIS;
@using System.Data;
<script>
    function PostBack() {
        window.location.assign("?paymentselect=" + document.getElementById('paymentselect').selectedIndex)
    }
</script>
@{ 
    string sortby = "" + Request["sortby"];
    string sortorder = "" + Request["sortorder"];

    if(sortby=="")
    {
        sortby = "club";
    }
    if(sortorder==""){
        sortorder = "asc";
    }
    int index = 0;
    int.TryParse("" + Request["paymentselect"], out index);

    List<Payment> payments = DataMapping.ListPayments(index: 0, top:"top 6", sort:"dt desc");
    if (payments.Count > 0)
    {
        Payment payment = payments[index];
        <h3>
            
            <select id="paymentselect" class="form-control" onchange="PostBack()">                
                @{ int i = 0; }
                @foreach(var p in payments)
                {
                <option @Html.Raw(i == index ? "selected" : "")>@p.title</option>
                    i++;
                }
            </select>
        </h3>


                    DataSet ds = DataMapping.ExecSql("SELECT cric,club,id as 'no commande',amount as 'montant',type_rule as 'moyen',par_rule as 'par qui',dt,dt_rule as 'date reglement',[rule] as 'regle',info_rule as 'commentaire'," +
                        "(select top 1 RoleName from Roles where RoleID = (SELECT roles from ais_clubs WHERE cric = O.cric)) as groupe," +
                        "(select top 1 displayname from users where userid in (select top 1 UserID from UserRoles where RoleID = (SELECT roles from ais_clubs WHERE cric = O.cric))) as adg," +
                        "(select top 1 email from users where userid in (select top 1 UserID from UserRoles where RoleID = (SELECT roles from ais_clubs WHERE cric = O.cric))) as email " +
                        "FROM [ais_orders] O  where id_payment='" + payment.id + "' order by "+sortby+" "+sortorder);


                    double cumul_montant_prorata = 0;
                    try
                    {
                        cumul_montant_prorata= Math.Round((double)Yemon.dnn.DataMapping.ExecSqlScalar("SELECT sum(amount) from ais_orders_details where wording like '%prorata%' and id_parent=0 and id_order in (SELECT [id] FROM [ais_orders] where id_payment='"+payment.id+"')"), 2);
                    }
                    catch { }

                    List<DataTable> liste = new List<DataTable>();
                    liste.Add(ds.Tables[0]);
                    Media media = DataMapping.ExportDataTablesToXLS(liste, "Liste des commandes au " + DateTime.Now.ToShortDateString().Replace("/", "-") + ".xls", Aspose.Cells.SaveFormat.Excel97To2003);
                    string guid = Guid.NewGuid().ToString();
                    Session[guid] = media;
                    //List<Order> orders= DataMapping.ListOrderByPayment(payment.id, sort: "club ASC", cric: 0);
                    if (ds.Tables.Count > 0 && ds.Tables[0].Rows.Count > 0)
                    {
                        int NbResteAPayer=0;
                        double MontantAttendu =0;
                        double MontantResteAPayer =0;
                        double MontantParCheque =0;
                        double MontantParVirement = 0;
                        double MontantParPrelevement = 0;

                        foreach (DataRow order in ds.Tables[0].Rows)
                        {
                            double montant = (double)order["montant"];
                            MontantAttendu += montant;
                            bool paye = ("" + order["regle"]).Equals(Const.YES);
                            if(paye)
                            {
                                if (("" + order["moyen"]).Equals("Virement"))
                                {
                                    MontantParVirement += montant;
                                }
                                else if (("" + order["moyen"]).Equals("Chèque"))
                                {
                                    MontantParCheque += montant;
                                }
                                else if (("" + order["moyen"]).Equals("Prélèvement"))
                                {
                                    MontantParPrelevement += montant;
                                }
                            }
                            else
                            {
                                MontantResteAPayer += montant;
                                NbResteAPayer += 1;
                            }
                        }
            <div>
                <em>Montant attendu : @MontantAttendu.ToString("#,##0.00") &euro;, montant reste &agrave; payer : @MontantResteAPayer.ToString("#,##0.00") &euro;, nb reste &agrave; payer : @NbResteAPayer, total par virement : @MontantParVirement.ToString("#,##0.00")  &euro;,  par ch&egrave;que : @MontantParCheque.ToString("#,##0.00")  &euro;,  par prélèvement : @MontantParPrelevement.ToString("#,##0.00")  &euro;</em>
                @if (cumul_montant_prorata>0)
                {
                <em>Cumul montant membres entrés au semestre précédent (prorata temporis) : @cumul_montant_prorata.ToString("#,##0.00") &euro;</em>
                }                
            </div>
            <table class="table table-striped">
                <tr>
                    <th><a href="#" onclick="sort('cric')">Cric @Html.Raw(sort("cric", sortby, sortorder))</a></th>
                    <th><a href="#" onclick="sort('club')">Club @Html.Raw(sort("club", sortby, sortorder))</a></th>
                    <th><a href="#" onclick="sort('id')">N° @Html.Raw(sort("id", sortby, sortorder))</a></th>
                    <th><a href="#" onclick="sort('montant')">Montant @Html.Raw(sort("montant", sortby, sortorder))</a></th>
                    <th><a href="#" onclick="sort('type_rule')">Méthode @Html.Raw(sort("type_rule", sortby, sortorder))</a></th>
                    <th><a href="#" onclick="sort('par_rule')">Par qui @Html.Raw(sort("par_rule", sortby, sortorder))</a></th>
                    <th><a href="#" onclick="sort('dt')">Quand @Html.Raw(sort("dt", sortby, sortorder))</a></th>
                    <th><a href="#" onclick="sort('regle')">Réglée @Html.Raw(sort("regle", sortby, sortorder))</a></th>
                    <th>Commentaire</th>
                    <th><a href="#" onclick="sort('groupe')">Groupe @Html.Raw(sort("groupe", sortby, sortorder))</a></th>
                    <th><a href="#" onclick="sort('adg')">ADG @Html.Raw(sort("adg", sortby, sortorder))</a></th>
                    <th><a href="#" onclick="sort('email')">Email @Html.Raw(sort("email", sortby, sortorder))</a></th>                 
                </tr>
            
            @foreach (DataRow order in ds.Tables[0].Rows) {
                DateTime dt = (DateTime)order["date reglement"];
                string mt = ((double)order["montant"]).ToString("#,##0.00");
                string style = "";
                if (!("" + order["regle"]).Equals(Const.YES))
                {
                    style = "danger ";
                }
                <tr class="@style">
                    <td>@order["cric"]</td>
                    <td>@order["club"]</td>
                    <td>@order["no commande"]</td>
                    <td class="text-right">@mt</td>
                    <td>@order["moyen"]</td>
                    <td>@order["par qui"]</td>
                    @if (dt == Const.NO_DATE)
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>@dt.ToString("dd/MM/yyyy")</td>
                    }

                    <td>@order["regle"]</td>
                    <td>@order["commentaire"]</td>
                    <td>@order["groupe"]</td>
                    <td>@order["adg"]</td>
                    <td><a href='mailto:@order["email"]'>@order["email"]</a></td>
                </tr>
            }



            </table>

            <p>
                <a href="@(Const.MEDIA_DOWNLOAD_URL + "?id=" + guid)" target="_blank" class="dnnPrimaryAction">T&eacute;l&eacute;charger la liste au format Excel</a>;
            </p>
        }
        else {

        }
    }
    else
    {
        <em>Aucun suivi disponible...</em>
    }
}
<input type="hidden" name="sortby" id="sortby" value="@sortby" />
<input type="hidden" name="sortorder" id="sortorder" value="@sortorder" />
<script>
    function sort(by) {
        var sortby = document.getElementById('sortby');
        var sortorder = document.getElementById('sortorder');
        if (sortby.value != by) {
            sortby.value = by;
            sortorder.value = 'asc';
        }
        else {
            if (sortorder.value != 'asc') {
                sortorder.value = 'asc';
            } else {
                sortorder.value = 'desc';
            }

        }
        document.forms[0].submit();
    }
</script>
@functions{ 
    string sort(string by, string sortby, string sortorder){
        if(sortby==by){
            if(sortorder=="asc")
            {
                return "<i title='croissant' class=\"glyphicon glyphicon-chevron-up\"></i>";
            }
            else
            {
                return "<i title='décroissant' class=\"glyphicon glyphicon-chevron-down\"></i>";
            }
        }
        return "";
    }
}