@using DotNetNuke.Entities.Tabs
@{

    if (AIS.Functions.CurrentCric==0)
    {
        <div class="alert alert-warning">Choisir un club pour visualiser son tableau de bord</div>
        return;
    }

    var clubHelper = new ClubHelper();
    var clubDashboard = clubHelper.GetDashboard(AIS.Functions.CurrentCric);
}

<h2 class="text-center primary-text pb-2">Tableau de bord : @AIS.Functions.CurrentClub.name</h2>

<div class="grid col-3 dashboard">
    <div class="ais-news-layout-list">
        @{
            var NextNewsDistrict = clubDashboard.GetDistrictFutureNews(tagexclus: new string[] { "Lettre du gouverneur", "in memoriam" }, max: 4);

            foreach (var n in NextNewsDistrict)
            {

                <a href="@n.GetShortUrl()" class="mini-news">
                    <div class="news-date"><p>@n.dt.Day @n.dt.ToString("MMM")</p></div>
                    <img src="@n.GetPhoto()">
                    <span>
                        <span class="news-type" style="color:#101f94">
                            <span>@n.tag1</span>
                        
                    </span>

                        <span class="news-title">@n.title</span>
                        <span class="news-link">en savoir plus <i class="fa-solid fa-square-full" style="color: #101f94"></i></span>
                    </span>
                </a>
            }

       
            var NextAutresClubsNews = clubDashboard.GetAutresClubsFutureNews(tagexclus: new string[] {  "Bulletin", "Galeries de photos", "Lettre du président", "in memoriam" }, max: 4);

            foreach (var n in NextAutresClubsNews)
            {

                <a href="@n.GetShortUrl()" class="mini-news">
                    <div class="news-date"><p>@n.dt.Day @n.dt.ToString("MMM")</p></div>
                    <img src="@n.GetPhoto()">
                    <span>
                         <span class="news-type" style="color:#5c83ca">
                             <span>@n.tag1</span>
                        <span class="news-club">@n.club_name</span>
                    </span> 

                        <span class="news-title">@n.title</span>
                        <span class="news-link">en savoir plus <i class="fa-solid fa-square-full" style="color: #5c83ca "></i></span>
                    </span>
                </a>
            }

        }

        <div class="text-center"><a href="/espace-membre/agenda/mode/card" class="btn btn-info btn-sm small">voir l'agenda</a></div>
    </div>

    <div class="ais-news-layout-list">
        @{
            var meetings = clubDashboard.GetNextMeetings().OrderBy(m => m.dtstart);

            foreach (var m in meetings)
            {
                <a href="@m.GetLink()" class="mini-news">
                    <span class="news-date"><p>@m.dtstart.Day @m.dtstart.ToString("MMM")</p></span>
                    <span>
                        <span class="news-type" style="color:#099864">
                            <span>Prochaine réunion</span>
                        </span>

                        <span class="news-title">@m.name</span>

                        <span class="news-link"><i class="fa-solid fa-chevron-right" style="color: #099864 "></i> s'inscrire</span>
                    </span>
                </a>
            }
        }




        @*<a href="#" class="mini-news">
            <span class="news-date danger"><p>4</p></span>
            <span>
                <span class="news-type" style="color:#000">
                    <span>Vous avez</span>
                </span>
                <span class="news-title">messages non lus</span>
                <span class="news-link"><i class="fa-solid fa-chevron-right" style="color:#000"></i> lire</span>
            </span>
        </a>*@
        @{
            var LastBulletins = clubDashboard.GetClubPastNews(taginclus: new string[] { "Bulletin" }, max: 1);

            foreach (var n in LastBulletins)
            {
                <a href="@n.GetShortUrl()" class="mini-news">
                    <span>
                        <span class="news-type" style="color:#ff6a00">
                            <span>Dernier bulletin</span>
                        </span>

                        <span class="news-title">@n.title</span>

                        <span class="news-link"><i class="fa-solid fa-chevron-right" style="color: #ff6a00"></i> consulter</span>
                    </span>
                </a>
            }
        }
        @{
            var LastGaleries = clubDashboard.GetClubPastNews(taginclus: new string[] { "Galeries de photos" }, max: 1);

            foreach (var n in LastGaleries)
            {
                <a href="@n.GetShortUrl()" class="mini-news">
                    <span>
                        <span class="news-type" style="color: #4800ff">
                            <span>Dernière galerie de photos</span>
                        </span>

                        <span class="news-title">@n.title</span>

                        <span class="news-link"><i class="fa-solid fa-chevron-right" style="color:#4800ff"></i> consulter</span>
                    </span>
                </a>
            }
        }


        @{

            string nomparenttab = ""+Yemon.dnn.DataMapping.ExecSqlScalar("select SettingValue from ModuleSettings where SettingName='page' and moduleid in (SELECT moduleid FROM MODULES WHERE MODULEDEFID IN( SELECT [ModuleDefID]  FROM [ModuleDefinitions]  where DefinitionName like '%Création du courrier%'))");
            var tabs = TabController.GetPortalTabs(Yemon.dnn.Functions.GetPortalId(), -1, false, true);
            TabInfo tabparent = tabs.FirstOrDefault(t =>
                                    string.Equals(t.TabName, nomparenttab, StringComparison.OrdinalIgnoreCase));
            if (tabparent!=null)
            {

                var urllast = "";
                var tabtitle = "";
                int parenttab = tabparent.TabID;
                tabs = (from t in TabController.GetTabsByParent(parenttab, 0)
                        where t.ParentId == parenttab &&
                                t.IsVisible && !t.IsDeleted && !t.IsSecure &&
                                DotNetNuke.Security.Permissions.TabPermissionController.CanViewPage(t)
                        orderby t.TabOrder descending
                        select t).Take(1).ToList();

                if (tabs.Count>0)
                {
                    urllast = tabs[0].FullUrl;
                    tabtitle = tabs[0].LocalizedTabName;
                }
                if (urllast != "")
                {
                    <a href="@urllast" class="mini-news">
                        <span>
                            <span class="news-type" style="color:#ff760">
                                <span>La lettre du Gouverneur</span>
                            </span>

                            <span class="news-title">@tabtitle</span>

                            <span class="news-link"><i class="fa-solid fa-chevron-right" style="color:#ff760"></i> lire</span>
                        </span>
                    </a>
                }
            }
        }

    </div>

    <div class="ais-news-layout">
        @{
            var NextNewsClub = clubDashboard.GetClubFutureNews(tagexclus: new string[] { "Bulletin", "Galeries de photos", "Lettre du président", "in memoriam" }, max: 2);

            foreach (var n in NextNewsClub)
            {
                <div class="mini-news" style="margin-bottom: 2rem" >
                    <a href="@n.GetShortUrl()">
                        <img src='@n.GetPhoto()'>

                        <span class="news-type" style="color:#d91b5c">
                            <span>Prochain évènement de mon club</span>
                        </span>

                        <span class="news-date">@n.dt.ToShortDateString()</span>
                        <span class="news-title">@n.title</span>
                        @*<span class="news-location"><i class="fa-solid fa-location-dot"></i> Base nautique de Fréjus</span>*@
                        <span class="news-link">voir le détail <i class="fa-solid fa-square-full" style="color:#d91b5c"></i></span>
                    </a>
                </div>
                
            }

        }
    </div>
</div>

