@using System.Collections;
@using System.IO;
@using System.Collections.Generic;
@using System.Data.SqlClient;
@using DotNetNuke.Entities.Tabs;
@using System.Data;
@using System.Linq;
@using DotNetNuke.Common;
@using DotNetNuke.Entities.Users;
@using DotNetNuke.Web.Api;
@using DotNetNuke;
@using DotNetNuke.Services.Localization;
@using DotNetNuke.Entities.Modules;
@using DotNetNuke.Security.Permissions;
@using Yemon.dnn.BlocksContent;
@{
    var userInfo = UserController.Instance.GetCurrentUserInfo();
    var appID = PageData["appID"];
    var moduleID = PageData["moduleID"];
    var blocksSuffix = PageData["blocksSuffix"];
    var libPath = TabController.CurrentPage.SkinPath + "echoppe/";
    var portalId = PageData["PortalId"];
    var Html = PageData["HTML"];
    bool editable = PageData["editable"];
    bool toggleable = PageData["toggleable"] ?? false;
}
<script src="@(libPath)tinymce/tinymce.min.js?cdv=@Yemon.dnn.Functions.CDV"></script>
<script src="@(libPath)vue/3.2.23/vue.js?cdv=@Yemon.dnn.Functions.CDV"></script>
<script src="@(libPath)vue-router/4.0.12/vue-router.js?cdv=@Yemon.dnn.Functions.CDV"></script>
<script src="@(libPath)axios/0.24.0/axios.min.js?cdv=@Yemon.dnn.Functions.CDV"></script>
<script src="@(libPath)toastr/toastr.min.js?cdv=@Yemon.dnn.Functions.CDV"></script>
<link href="@(libPath)toastr/toastr.min.css?cdv=@Yemon.dnn.Functions.CDV" rel="stylesheet" />
<script src="@(libPath)vue-easy-tinymce-1.0.2/dist/vue-easy-tinymce.min.js?cdv=@Yemon.dnn.Functions.CDV"></script>
<script src="@(libPath)vue-advanced-cropper/2.8.8/index.global.js?cdv=@Yemon.dnn.Functions.CDV"></script>
<link href="@(libPath)vue-advanced-cropper/2.8.8/style.css?cdv=@Yemon.dnn.Functions.CDV" rel="stylesheet" />
<link href="~/DesktopModules/RazorModules/RazorHost/Scripts/BlocksContent/styles.min.css?cdv=@Yemon.dnn.Functions.CDV" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="@(libPath)slick-carousel-1.8.1/slick.css" />
<link rel="stylesheet" type="text/css" href="@(libPath)slick-carousel-1.8.1/slick-theme.css" />
<script type="text/javascript" src="@(libPath)slick-carousel-1.8.1/slick.min.js"></script>

<style>
    [v-cloak] {
        display: none;
    }
</style>
@RenderPage("ImageEditor.cshtml")
@RenderPage("BlockImageText.cshtml")
@RenderPage("BlockImageCollection.cshtml")
@RenderPage("BlockFileCollection.cshtml")
@RenderPage("BlockRaw.cshtml")
@RenderPage("BlockVideo.cshtml")
@RenderPage("BlockEditor.cshtml")
<div class="admin" id='@appID' v-cloak>
    <button type="button" v-on:click="toggling=true" v-if="!toggling && toggleable" class="open-edit" title="Modifier le contenu"><i class="fa fa-pencil"></i></button>
    <button type="button" v-on:click="toggling=false" v-if="toggling && toggleable" class="close-edit" title="Passer en mode visualisation"><i class="fa fa-eye"></i></button>
    <blocks-editor v-on:changed="changed" :blocks="blocks" :moduleID="@moduleID" :editable="isEditable()"></blocks-editor>
</div>

<script src="/DesktopModules/Yemon/API/Services/VueJS?cdv=@Yemon.dnn.Functions.CDV"></script>
<script src="~/DesktopModules/RazorModules/RazorHost/Scripts/BlocksContent/app.min.js?cdv=@Yemon.dnn.Functions.CDV"></script>
<script>

    $(document).ready(function () {
        if (typeof _yemon =='undefined')
            _yemon = [];
        _yemon[@moduleID] = new Yemon(@moduleID, '/Desktopmodules/BlocksContent/API/Blocks');


        InitApp('@appID',@moduleID,'@blocksSuffix',@editable.ToString().ToLower(),@toggleable.ToString().ToLower());
    });
</script>
