@using System.Collections;
@using System.IO;
@using System.Collections.Generic;
@using System.Data.SqlClient;
@using DotNetNuke.Entities.Tabs;
@using System.Data;
@using System.Linq;
@using DotNetNuke.Common;
@using DotNetNuke.Entities.Users;
@using DotNetNuke.Web.Api;
@using DotNetNuke;
@using DotNetNuke.Services.Localization;
@using DotNetNuke.Entities.Modules;
@using DotNetNuke.Security.Permissions;
@using Yemon.dnn.BlocksContent;
@{
    var moduleID = PageData["moduleID"];
    var blocksSuffix = PageData["blocksSuffix"];
    var Html = PageData["HTML"];
    var GUID = PageData["GUID"];
    var mediaPrefix = AIS.Const.DISTRICT_URL + "/DesktopModules/BlocksContent/API/Blocks/getMedia";

    List<Block> blocks = PageData["blocks"];
    if (blocks == null)
    {
        blocks = new List<Block>();
    }
    try
    {
        string sblocks = "" + Yemon.dnn.Helpers.GetItem("blockscontent:" + blocksSuffix, Yemon.dnn.Functions.GetPortalId());
        if (sblocks != "")
        {
            blocks = (List<Block>)Yemon.dnn.Functions.Deserialize(sblocks, typeof(List<Block>));
        }

    }
    catch
    {

    }

    var mustShowOnlineLink = false;
    if (("" + Request["purgednnscripts"]) != "")
    {

        foreach (Block block in blocks)
        {
            switch (block.Type)
            {
                case "ImageText":
                    Block.ImageText p = (Block.ImageText)Yemon.dnn.Functions.Deserialize("" + block.Content, typeof(Block.ImageText));
                    if (p.Largeur == 0)
                    {
                        if (p.Position == "G" || p.Position == "D")
                        {
                            p.Largeur = 6;
                        }
                        else
                        {
                            p.Largeur = 12;
                        }
                    }
                    if (p.Image != null)
                    {
                        mustShowOnlineLink = true;
                    }
                    break;
                case "FileCollection":
                    Block.FileCollection fc = (Block.FileCollection)Yemon.dnn.Functions.Deserialize("" + block.Content, typeof(Block.FileCollection));
                    if (fc.Files.Count > 0)
                    {
                        mustShowOnlineLink = true;
                    }
                    break;
                case "ImageCollection":
                    Block.ImageCollection ic = (Block.ImageCollection)Yemon.dnn.Functions.Deserialize("" + block.Content, typeof(Block.ImageCollection));
                    if (ic.Images.Count > 0)
                    {
                        mustShowOnlineLink = true;
                    }
                    break;
            }
        }
    }
    if (mustShowOnlineLink)
    {
        <small><a href="@AIS.Const.DISTRICT_URL/mail/mailing/email?guid=@GUID">Consulter ce message en ligne</a></small>
    }


    foreach (Block block in blocks)
    {
        switch (block.Type)
        {
            case "ImageText":
                Block.ImageText p = (Block.ImageText)Yemon.dnn.Functions.Deserialize("" + block.Content, typeof(Block.ImageText));
                switch (p.Position)
                {
                    case "G":
                        <div class="row">
                            @if (p.Title != null)
                            {
                                <h2 class="col-sm-12">@p.Title</h2>
                            }
                            @if (p.Image != null)
                            {
                                <div class="col-sm-6">
                                    <img src="@mediaPrefix?guid=@p.Image.GUID" title="@p.Image.Name" />
                                </div>
                            }
                            @if (p.Html != null)
                            {
                                <div class="col-sm-6">@Html.Raw(p.Html)</div>
                            }
                        </div>
                        break;
                    case "D":
                        <div class="row">
                            @if (p.Title != null)
                            {
                                <h2 class="col-sm-12">@p.Title</h2>
                            }
                            @if (p.Html != null)
                            {
                                <div class="col-sm-6">@Html.Raw(p.Html)</div>
                            }
                            @if (p.Image != null)
                            {
                                <div class="col-sm-6">
                                    <img src="@mediaPrefix?guid=@p.Image.GUID" title="@p.Image.Name" />
                                </div>
                            }

                        </div>
                        break;
                    case "B":
                        if (p.Title != null)
                        {
                            <h2>@p.Title</h2>
                        }
                        if (p.Html != null)
                        {
                            <div>@Html.Raw(p.Html)</div>
                        }
                        if (p.Image != null)
                        {
                            <div>
                                <img src="@mediaPrefix?guid=@p.Image.GUID" title="@p.Image.Name" />
                            </div>
                        }
                        break;
                    default:
                        if (p.Title != null)
                        {
                            <h2>@p.Title</h2>
                        }
                        if (p.Image != null)
                        {
                            <div>
                                <img src="@mediaPrefix?guid=@p.Image.GUID" title="@p.Image.Name" />
                            </div>
                        }
                        if (p.Html != null)
                        {
                            <div>@Html.Raw(p.Html)</div>
                        }
                        break;
                }
                break;
            case "FileCollection":
                Block.FileCollection fc = (Block.FileCollection)Yemon.dnn.Functions.Deserialize("" + block.Content, typeof(Block.FileCollection));
                if (fc.Title != null)
                {
                    <h2>@fc.Title</h2>
                }
                if (fc.Files.Count > 0)
                {
                    <ul>
                        @foreach (var f in fc.Files)
                        {
                            <li><a href="@mediaPrefix?guid=@f.GUID" class="btn btn-link">@f.Name</a></li>
                        }
                    </ul>
                }
                break;
            case "ImageCollection":
                Block.ImageCollection ic = (Block.ImageCollection)Yemon.dnn.Functions.Deserialize("" + block.Content, typeof(Block.ImageCollection));
                if (ic.Title != null)
                {
                    <h2>@ic.Title</h2>
                }
                if (ic.Images.Count > 0)
                {
                    foreach (var i in ic.Images)
                    {
                        <span>
                            <img src="@mediaPrefix?guid=@i.GUID" width="100%" title="@i.Name" />
                        </span>
                    }

                }
                break;
            
        }
    }
}
