@using System.Collections;
@using System.IO;
@using System.Collections.Generic;
@using System.Data.SqlClient;
@using DotNetNuke.Entities.Tabs;
@using System.Data;
@using System.Linq;
@using DotNetNuke.Common;
@using DotNetNuke.Entities.Users;
@using DotNetNuke.Web.Api;
@using DotNetNuke;
@using DotNetNuke.Services.Localization;
@using DotNetNuke.Entities.Modules;
@using DotNetNuke.Security.Permissions;
@using AIS;
@{
    var CDV = Yemon.dnn.Functions.CDV;
    var moduleID = PageData["moduleID"];
    var blocksSuffix = PageData["blocksSuffix"];
    var Html = PageData["HTML"];
    var libPath = TabController.CurrentPage.SkinPath + "echoppe/";
    var mediaPath = "/DesktopModules/BlocksContent/API/Blocks/getMedia?guid=";
    var blockEvo = libPath.Contains("rodi2025");
}
<link rel="stylesheet" type="text/css" href="@(libPath)slick-carousel-1.8.1/slick.css?cdv=@CDV" />
<link rel="stylesheet" type="text/css" href="@(libPath)slick-carousel-1.8.1/slick-theme.css?cdv=@CDV" />
<link rel="stylesheet" type="text/css" href="@(libPath)aos.2.3.1/aos.css?cdv=@CDV" />
<script type="text/javascript" src="@(libPath)slick-carousel-1.8.1/slick.min.js?cdv=@CDV"></script>
<script type="text/javascript" src="@(libPath)aos.2.3.1/aos.js?cdv=@CDV"></script>
<script>
    AOS.init();
</script>
@{
    List<Block> blocks = PageData["blocks"];
    if (blocks == null)
    {
        blocks = new List<Block>();
    }
    try
    {
        string sblocks = "" + Yemon.dnn.Helpers.GetItem("blockscontent:" + blocksSuffix);
        if (sblocks != "")
        {
            blocks = (List<Block>)Yemon.dnn.Functions.Deserialize(sblocks, typeof(List<Block>));
        }

    }
    catch
    {

    }

    foreach (Block block in blocks)
    {
        switch (block.Type)
        {
            /* block genuine */
            case "ImageText":
                Block.ImageText p = (Block.ImageText)Yemon.dnn.Functions.Deserialize("" + block.Content, typeof(Block.ImageText));
                if(p.Largeur==0)
                {
                    if(p.Position=="G" || p.Position=="D")
                    {
                        p.Largeur = 6;
                    }
                    else
                    {
                        p.Largeur = 12;
                    }
                }
                switch (p.Position)
                {
                    case "G":
                        <div class='grid block-image-text-g @(p.Type==1?"colored":"")' style="@(p.Type==1?"background-color:"+p.BGColor:"")">
                            @if (p.Image != null)
                            {
                                <div class="col-sm-@p.Largeur  v-@p.VAlign">
                                    @if (p.ImageUri != null)
                                    {
                                        <a href="@p.ImageUri.Href" target="@p.ImageUri.Target">
                                            <img src="@mediaPath@p.Image.GUID" title="@p.Image.Name" />
                                        </a>
                                    }
                                    else
                                    {
                                        <img src="@mediaPath@p.Image.GUID" title="@p.Image.Name" />
                                    }
                                </div>
                            }
                            @if (p.Title != null || p.Html != null || p.Uri != null)
                            {
                                <div class="col-sm-@(12-p.Largeur)" style="@(p.Type==1?"color:"+p.Color:"")">
                                    @if (p.Title != null)
                                    {
                                        if (p.Type == 1)
                                        {
                                            <h2 style="color:@p.Color">@p.Title</h2>
                                        }
                                        else
                                        {
                                            <h2 style="color:@p.BGColor">@p.Title</h2>
                                        }

                                    }
                                    @if (p.Html != null)
                                    {
                                        <div>
                                            @Html.Raw(p.Html)
                                        </div>
                                    }
                                    @if (p.Uri != null)
                                    {
                                        <div class="text-center pt-1">
                                            @if (p.Type == 1)
                                            {
                                                <a href="@p.Uri.Href" target="@p.Uri.Target" style="border-color:@p.Color;color:@p.Color" class="btn">@p.Uri.Label</a>

                                            }
                                            else
                                            {
                                                <a href="@p.Uri.Href" target="@p.Uri.Target" style="background-color:@p.BGColor;color:@p.Color" class="btn">@p.Uri.Label</a>
                                            }
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                        break;

                    case "D":
                        <div class='grid block-image-text-d @(p.Type==1?"colored":"")' style="@(p.Type==1?"background-color:"+p.BGColor:"")">
                            @if (p.Title != null || p.Html != null || p.Uri != null)
                            {
                                <div class="col-sm-@(12-p.Largeur)" style="@(p.Type==1?"color:"+p.Color:"")">
                                    @if (p.Title != null)
                                    {
                                        if (p.Type == 1)
                                        {
                                            <h2 style="color:@p.Color">@p.Title</h2>
                                        }
                                        else
                                        {
                                            <h2 style="color:@p.BGColor">@p.Title</h2>
                                        }
                                    }
                                    @if (p.Html != null)
                                    {
                                        <div>
                                            @Html.Raw(p.Html)
                                        </div>
                                    }
                                    @if (p.Uri != null)
                                    {
                                        <div class="text-center pt-1">
                                            @if (p.Type == 1)
                                            {
                                                <a href="@p.Uri.Href" target="@p.Uri.Target" style="border-color:@p.Color;color:@p.Color" class="btn">@p.Uri.Label</a>

                                            }
                                            else
                                            {
                                                <a href="@p.Uri.Href" target="@p.Uri.Target" style="background-color:@p.BGColor;color:@p.Color" class="btn">@p.Uri.Label</a>
                                            }
                                        </div>
                                    }
                                </div>
                            }
                            @if (p.Image != null)
                            {
                                <div class="col-sm-@p.Largeur v-@p.VAlign">
                                    @if (p.ImageUri != null)
                                    {
                                        <a href="@p.ImageUri.Href" target="@p.ImageUri.Target">
                                            <img src="@mediaPath@p.Image.GUID" title="@p.Image.Name" />
                                        </a>
                                    }
                                    else
                                    {
                                        <img src="@mediaPath@p.Image.GUID" title="@p.Image.Name" />
                                    }
                                </div>
                            }
                        </div>
                        break;

                    case "B":
                        <div class="block-image-text-b">
                            <div class='@(p.Type==1?"colored":"")' style="@(p.Type==1?"background-color:"+p.BGColor:"")">
                                @if (p.Title != null)
                                {
                                    if (p.Type == 1)
                                    {
                                        <h2 style="color:@p.Color">@p.Title</h2>
                                    }
                                    else
                                    {
                                        <h2 style="color:@p.BGColor">@p.Title</h2>
                                    }
                                }
                                @if (p.Html != null)
                                {
                                    <div style="@(p.Type==1?"color:"+p.Color:"")">@Html.Raw(p.Html)</div>
                                }
                                @if (p.Uri != null)
                                {
                                    <div class="text-center pt-1">
                                        @if (p.Type == 1)
                                        {
                                            <a href="@p.Uri.Href" target="@p.Uri.Target" style="border-color:@p.Color;color:@p.Color" class="btn">@p.Uri.Label</a>

                                        }
                                        else
                                        {
                                            <a href="@p.Uri.Href" target="@p.Uri.Target" style="background-color:@p.BGColor;color:@p.Color" class="btn">@p.Uri.Label</a>
                                        }
                                    </div>
                                }
                            </div>

                            @if (p.Image != null)
                            {
                                <div class='h-@p.HAlign pt-1' style="@(p.Type==1?"background-color:"+p.BGColor:"")">
                                    <div class="width-@p.Largeur">
                                        @if (p.ImageUri != null)
                                        {
                                            <a href="@p.ImageUri.Href" target="@p.ImageUri.Target">
                                                <img src="@mediaPath@p.Image.GUID" title="@p.Image.Name" class="img-r" />
                                            </a>
                                        }
                                        else
                                        {
                                            <img src="@mediaPath@p.Image.GUID" title="@p.Image.Name" class="img-r" />
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                        break;

                    default:
                        <div class="block-image-text">
                            @if (p.Image != null)
                            {
                                <div class='h-@p.HAlign' style="@(p.Type==1?"background-color:"+p.BGColor:"")">
                                    <div class="width-@p.Largeur">
                                        @if (p.ImageUri != null)
                                        {
                                            <a href="@p.ImageUri.Href" target="@p.ImageUri.Target">
                                                <img src="@mediaPath@p.Image.GUID" title="@p.Image.Name" class="img-r" />
                                            </a>
                                        }
                                        else
                                        {
                                            <img src="@mediaPath@p.Image.GUID" title="@p.Image.Name" class="img-r" />
                                        }
                                    </div>
                                </div>
                            }
                            <div class='@(p.Type==1?"colored":"")' style="@(p.Type==1?"background-color:"+p.BGColor:"")">
                                @if (p.Title != null)
                                {
                                    if (p.Type == 1)
                                    {
                                        <h2 style="color:@p.Color">@p.Title</h2>
                                    }
                                    else
                                    {
                                        <h2 style="color:@p.BGColor">@p.Title</h2>
                                    }
                                }
                                @if (p.Html != null)
                                {
                                    <div style="@(p.Type==1?"color:"+p.Color:"")">@Html.Raw(p.Html)</div>
                                }
                                @if (p.Uri != null)
                                {
                                    <div class="text-center pt-1">
                                        @if (p.Type == 1)
                                        {
                                            <a href="@p.Uri.Href" target="@p.Uri.Target" style="border-color:@p.Color;color:@p.Color" class="btn">@p.Uri.Label</a>

                                        }
                                        else
                                        {
                                            <a href="@p.Uri.Href" target="@p.Uri.Target" style="background-color:@p.BGColor;color:@p.Color" class="btn">@p.Uri.Label</a>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                        break;
                }
                break;

            case "FileCollection":
                Block.FileCollection fc = (Block.FileCollection)Yemon.dnn.Functions.Deserialize("" + block.Content, typeof(Block.FileCollection));
                if (fc.Title != null)
                {
                    <h2>@fc.Title</h2>
                }
                if (fc.Files.Count > 0)
                {
                    <ul>
                        @foreach (var f in fc.Files)
                        {
                            <li>
                                <a href="@mediaPath@f.GUID&noattach=true" class="btn btn-link" target="_blank" title="Ouvrir">@f.Name</a>&nbsp;
                                <a href="@mediaPath@f.GUID" class="btn btn-link" target="_blank" title="Télécharger"><i class="fa fa-download" aria-hidden="true"></i></a>
                            </li>

                        }
                    </ul>
                }
                break;
            case "ImageCollection":
                Block.ImageCollection ic = (Block.ImageCollection)Yemon.dnn.Functions.Deserialize("" + block.Content, typeof(Block.ImageCollection));
                if (ic.Title != null)
                {
                    <h2>@ic.Title</h2>
                }
                if (ic.Images.Count > 0)
                {
                    List<Block.Image> imgs = new List<Block.Image>();
                    foreach (var image in ic.Images)
                    {
                        if (!image.IsBitmap && image.MimeType.StartsWith("image/"))
                        {
                            var media = Yemon.dnn.Helpers.CorrectBitmapMediaSizes((Yemon.dnn.core.Media)image);
                            if (media != null)
                            {
                                image.Width = media.Width;
                                image.IsBitmap = media.IsBitmap;
                                image.Height = media.Height;
                            }
                        }
                        imgs.Add(new Block.Image()
                        {
                            GUID = image.GUID,
                            Width = image.Width,
                            Height = image.Height,
                            Name = image.Name
                        });
                    }

                    switch ("" + ic.Type)
                    {
                        case "":
                            foreach (var i in imgs)
                            {
                                <span>
                                    <a data-fslightbox="@block.Guid" data-caption="@i.Name" data-alt="@i.Name" href="@mediaPath@i.GUID">
                                        <img src="@mediaPath@i.GUID" width="100%" title="@i.Name" />
                                    </a>
                                </span>
                                <div class="pe-spacer size10"></div>
                            }
                            break;
                        case "gallery":

                            var images = Yemon.dnn.Functions.Serialize(imgs);

                            <script>if(!resize)var resize=[];resize["@block.Guid"]=function(){for(var e,o,r,h=document.getElementById('@("gallery"+block.Guid)'),w=h.getBoundingClientRect(),c=w.width,l=8,a=8,n=[],t=0,f=Math.round(c/300,0),k=Math.round(100/f,0),s=Math.round(c/f,0),i=0;i<f;i++)n.push(0);for(e=@Html.Raw(images),o=0,i=0;i<e.length;i++){var u=document.getElementById(e[i].GUID),v=e[i],b=v.Height/v.Width,y=Math.round(s*b,0)+a,p=Number.MAX_SAFE_INTEGER;for(t=0,r=0;r<f;r++)n[r]<p&&(t=r,p=n[r]);u.style.top=n[t]+"px";u.style.left=t*s+"px";u.style.width=s+"px";u.style.height=y+"px";u.style.padding=a+"px "+l/2+"px 0px "+l/2+"px";n[t]+=y;n[t]>o&&(o=n[t])}h.style.height=o+"px"};$(window).resize(resize["@block.Guid"]);$(document).ready(function(){resize["@block.Guid"]()});</script>
                            <div id='@("gallery"+block.Guid)' style="position:relative">
                                @foreach (var i in imgs)
                                {
                                    <a data-fslightbox="@block.Guid" data-caption="@i.Name" data-alt="@i.Name" href="@mediaPath@i.GUID">
                                        <img id="@i.GUID" src="@mediaPath@i.GUID" title="@i.Name" style="position:absolute" width="@i.Width" height="@i.Height" />
                                    </a>
                                }

                            </div>
                            break;
                        case "slider":
                            var slider_name = "slider_name_" + ("" + block.Guid).Substring(0, 5);
                            <style>
                            .even_box {position: relative;width: 100%;background-size: cover;background-position: center;}
                            .even_box img {position: absolute;z-index: 2;display: block;top: 0;left: 0;width: 100%;}
                            .even_box h3 {position: absolute;z-index: 3;display: block;top: 0;left: 15px;width: auto;text-align: left;color: white;background-color: black;padding: 15px 15px 15px 10px;max-width: calc(100% - 30px);border-radius: 4px;}
                            .@slider_name .slick-next {right: 5px;z-index: 9;}
                            .@slider_name .slick-prev {left: 5px;z-index: 9;}
                            .@slider_name .slick-dots {position: absolute;bottom: 3px;width: 60%;left: 50%;transform: translateX(-50%);border-radius: 3px;}
                            .@slider_name .slick-dots li button:before{color: white;opacity: 1;border-radius: 50%;border: 1px solid #00246c;background-color: white;}
                            .@slider_name .slick-dots li.slick-active button:before {opacity: 1;color: #00246c;background-color: #00246c;}
                            .@slider_name .slick-prev:before, .slick-next:before {font-size: 40px;}
                            .@slider_name .slick-prev, .slick-next {width: 40px;height: 40px;}
                            .@slider_name .slick-dots li button:before {font-family: 'slick';font-size: 16px;}
                            .@slider_name .slick-dots li {margin: 7px 5px 3px 5px;}
                            .@slider_name .slick-dots li button:before {width: 10px;height: 10px;content: ' ';}
                            .@slider_name {margin:3px;}
                            </style>

                            var ratios = new List<object>(); ;
                            foreach (var i in imgs)
                            {
                                ratios.Add(new
                                {
                                    g = ("image" + ("" + i.GUID).Substring(0, 6)),
                                    r = ((float)i.Height / (float)i.Width)
                                });
                            }


                            <div class="@slider_name" id="@slider_name">
                                @foreach (var i in imgs)
                                {
                                    <a data-fslightbox="@block.Guid" data-caption="@i.Name" data-alt="@i.Name" href="@mediaPath@i.GUID">
                                        <div id="@("image"+(""+i.GUID).Substring(0,6))" class="even_box" style="background-image: url('@mediaPath@i.GUID')" );">
                                        </div>
                                    </a>
                                }
                            </div>
                            <script>
                                 if (typeof resizeslider == 'undefined')
                                     resizeslider = [];
                                 var slfnname = '@Html.Raw(slider_name)';
                                resizeslider['@slider_name'] = function () {
                                    var parent = document.getElementById('@slider_name').parentElement;
                                    var container = document.getElementById('@slider_name');
                                    var parentWidth = parent.getBoundingClientRect().width;
                                    var width = container.getBoundingClientRect().width;
                                    if (width < parentWidth)
                                        width = parentWidth;
                                    if (width > window.innerWidth)
                                        width = window.innerWidth;
                                     console.log('@slider_name',width);

                                     var ratios = @Html.Raw(Yemon.dnn.Functions.Serialize(ratios));
                                     var height = Number.MAX_SAFE_INTEGER;
                                     ratios.forEach((d) => {
                                         var h = Math.round(width * d.r, 0);
                                         height = Math.min(height, h);
                                     });
                                     ratios.forEach((d) => {
                                         var el = document.getElementById(d.g);
                                         el.style.minHeight = height + 'px';
                                         //el.style.width = width + 'px';
                                         el.style.height = height + 'px';
                                     });
                                    container.style.width = width + 'px';
                                    container.style.height = height + 'px';
                                }
                                resizeslider[slfnname]();
                            </script>
                            <script>
                                window.addEventListener("resize", resizeslider['@slider_name']);

                                $('.@slider_name').slick({
                                    dots: true,
                                    infinite: false,
                                    slidesToShow: 1,
                                    autoplay: true,
                                    autoplaySpeed: 2000,
                                    pauseOnFocus: true,
                                    pauseOnHover: true,
                                    pauseOnDotsHover: true,
                                });
                            </script>
                            break;
                    }

                }
                break;
            case "Raw":
                Block.Raw r = (Block.Raw)Yemon.dnn.Functions.Deserialize("" + block.Content, typeof(Block.Raw));
                <div>@Html.Raw(r.Html)</div>
                break;
            case "Video":
                Block.Video v = (Block.Video)Yemon.dnn.Functions.Deserialize("" + block.Content, typeof(Block.Video));
                if (v.Title != null)
                {
                    <h2>@v.Title</h2>
                }
                <div id="@("container" + block.Guid)">
                    <iframe style="width:100%" id="@("video" + block.Guid)" class="video" src="@v.Url" allowfullscreen=""></iframe>
                </div>
                <script>
                    if (!resize) {
                        var resize = [];
                    }
                    resize['@block.Guid'] = function() {


                        var ratio = 16 / 9;
                        const videoIFrame = document.getElementById('video@(block.Guid)');
                        const videoContainer = document.getElementById('container@(block.Guid)');
                        var width = Math.min(window.innerWidth, videoIFrame.offsetWidth);
                        videoIFrame.style.height = Math.ceil(width / ratio) + "px";
                        videoContainer.style.height = (width / ratio) + "px";
                    }
                    $(window).resize(resize['@block.Guid']);
                    $(document).ready(function () {
                        resize['@block.Guid']();
                    });

                </script>
                break;
        }
        PageData["Block"] = block;
        @RenderPage("View.custom.cshtml");

    }
}

<script type="text/javascript" src="@(libPath)fslightbox-pro-3.7.1/fslightbox.js?cdv=@CDV"></script>

